[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
bs4 = "*"
krovetzstemmer = "*"
ndjson = "*"
pymongo = "*"
pympler = "*"

[dev-packages]

[requires]
python_version = "3.11"
