.input-wrapper {
    background-color: #e4f1ea;
    width: 70%;
    border-radius: 15px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #c2ecd4;
    display: flex;
    align-items: center;
}

input {
    background: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 95%;
    margin-left: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

